#aboutme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 26px;
  width: 90%;
}

.aboutme__title {
  color: #3e1e0e;
  text-align: center;
  font-size: 53px;
  margin: 0;
}

.aboutme__title--size {
  font-size: 26px;
}

.aboutme__paragraph {
  color: #6d9869;
}
@media screen and (min-width: 768px) {
  .aboutme__paragraph {
    width: 60%;
  }
}

.photo {
  display: flex;
  justify-content: flex-end;
  padding-right: 273px;
  margin-top: -448px;
}

.menu {
  margin: 0;
  left: 0px;
  position: fixed;
  right: 0px;
  padding-top: 20px;
  background: #f3c602;
  z-index: 200;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  margin: 20px 11px;
}
@media screen and (min-width: 768px) {
  .menu__list {
    justify-content: center;
  }
}

.menu__list li {
  margin-left: 12px;
}

li:hover a {
  color: #d1af2a;
}

.menu__list-link {
  color: #281208;
  text-transform: uppercase;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills__title {
  text-transform: uppercase;
}

.skill__title {
  color: #3e1e0e;
  padding-top: 100px;
  margin-bottom: 0;
  font-size: 32px;
}

.first-skill:hover .skill__title {
  padding-top: 0;
}

.skill__info-list {
  display: none;
}

.first-skill:hover {
  background: #f7f7f7;
}
.first-skill:hover .skill__info-list {
  display: inline;
}

.first-skill {
  width: 100%;
  height: 300px;
  background: #6d9869;
  text-align: center;
  transition: 1s;
  margin: 12px 0;
}
@media screen and (min-width: 768px) {
  .first-skill {
    width: 30%;
  }
}

.title {
  margin-left: 12px;
}

#footer {
  padding-top: 11px;
  background: #f3c602;
  text-align: center;
  margin-top: 100px;
}

.footer__email {
  margin: 0;
  padding: 10px 0;
}

.icon-footer {
  width: 3%;
}

.icon-project {
  max-width: 5%;
  background-color: #f3c602;
  border-radius: 50%;
  padding: 8px;
}

.icon-project:hover {
  background: #6d9869;
}

.img-hillary {
  object-fit: cover;
  float: right;
  padding-top: 130px;
  width: 360px;
  height: 400px;
  border-radius: 89px;
}

.img-project {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-project2 {
  max-width: 90%;
  height: 100%;
  object-fit: cover;
}

.aboutme__logo {
  width: 70%;
  margin-top: 120px;
}
@media screen and (min-width: 768px) {
  .aboutme__logo {
    width: 22%;
  }
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.date-git {
  border-bottom: 1px solid #d1af2a;
  padding-bottom: 25px;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 25px;
  flex-wrap: wrap;
}

.wrapper__projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project__title {
  text-transform: uppercase;
}

.project__link {
  color: #3e1e0e;
  border-bottom: 3px solid #3e1e0e;
}

.proyect__img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
