li:hover a {
  text-decoration-line: line-through;
  text-decoration-color: black;
}
.menue {
  color: black;
}
.menue-list {
  display: inline;
  margin-right: 15px;
}
.principal-menue {
  list-style: none;
  margin-top: 27px;
  text-align: center;
}