.e-mail {
    padding-top: 20px;
}
.autor-icon {
margin-top: 10px;
font-size: 10px;
margin: 0;

}
.icons {
max-width: 40%;
text-align: center;
padding-left: 30%; 
padding-bottom: 3px;
}
.icon-image {
	max-width: 9.5%;
	padding-bottom: 10px;
}   
.contact-line {
  margin-top: 40px;
}