li:hover a {
  text-decoration-line: line-through;
  text-decoration-color: black;
}
.menue {
  color: black;
}

.menue-list {
  display: inline;
  margin-right: 15px;
}
.principal-menue {
  float: right;
  list-style: none;
  margin-top: 27px;
  padding-right: 50px;
}