.container-info-aboutme {
  max-width: 50%;
  margin-left: 80px;
}
.wrapper-menue {
  left: 0px;
  position: fixed;
  right: 0px;
  margin-top: 20px;
}
.container-img-logo {
  text-align: center;
  max-width: 100%;
}
.container-header {
  background: $beige;
  padding-bottom: 20px;
}