.aboutme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 26px;
  width: 90%;
}
.aboutme__title {
  color: #3e1e0e;
  text-align: center;
  font-size: 53px;
  margin: 0;
}

.aboutme__title--size {
  font-size: 26px;
}
.aboutme__paragraph {
  color: #6d9869;

  @media screen and(min-width: 768px) {
    width: 60%;
  }
}

.photo {
  display: flex;
  justify-content: flex-end;
  padding-right: 273px;
  margin-top: -448px;
}
