a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.date-git {
  border-bottom: 1px solid #d1af2a;
  padding-bottom: 25px;
}
