.menu {
  margin: 0;
  left: 0px;
  position: fixed;
  right: 0px;
  padding-top: 20px;
  background: #f3c602;
  z-index: 200;
}
.menu__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  margin: 20px 11px;

  @media screen and(min-width: 768px) {
    justify-content: center;
  }
}
.menu__list li {
  margin-left: 5px;

  @media screen and(min-width: 768px) {
    margin-left: 22px;
  }
}
li:hover a {
  color: #d1af2a;
}
.menu__list-link {
  color: #281208;
  text-transform: uppercase;
}
