.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 25px;
  flex-wrap: wrap;
}
.wrapper__projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project__title {
  text-transform: uppercase;
}
.project__link {
  color: #3e1e0e;
  border-bottom: 3px solid #3e1e0e;
}
.proyect__img {
	width: 100%;
}