.skills {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills__title {
  text-transform: uppercase;
}

.skill__title {
  color: #3e1e0e;
  padding-top: 100px;
  margin-bottom: 0;
  font-size: 32px;
}

.first-skill:hover {
  .skill__title {
    padding-top: 0;
  }
}

.skill__info-list {
  display: none;
}

.first-skill:hover {
  background: #f7f7f7;
  .skill__info-list {
    display: inline;
  }
}

.first-skill {
  width: 100%;
  height: 300px;
  background: #6d9869;
  text-align: center;
  transition: 1s;
  margin: 12px 0;

  @media screen and(min-width: 768px) {
    width: 30%;
  }
}

.title {
  margin-left: 12px;
}