#works {
    margin-top: 5%;
}
.second-tittle {
    text-align: center;
}
.image-work {
	max-width: 100%;
	object-fit: cover;
	height: 100%;
}
.work-column-left {
	max-width: 45%;
	float: left;
	margin-right: 3px;
	margin-top: 40px;
	height: 60%;
}
.work-column-right {
	max-width: 45%;
	float: right;
	margin-top: 80px;
	height: 60%;
}