.personal-info {
  max-width: 65%;
  padding-top: 50px;
}
.personal-skills {
  color: white;
  background: $pink;
}
.principal-container {
  margin: 0 auto;
  max-width: 1200px;
}
#project {
  margin-top: 90px;
  padding-bottom: 10px;
}
.skills {
  float: left;
  max-width: 30%;
  margin-top: 60px;
  margin-right: 40px;
  padding-bottom: 60px;
  text-align: center;
}
.work-column-left {
  float: left;
  height: 45%;
  max-width: 38%;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.work-column-right {
  float: right;
  height: 60%;
	max-width: 38%;
  margin-top: 80px;
  margin-right: 100px;
}
.wrapper {
  background: white;
  left: 0px;
  padding-top: 15px;
  position: fixed;
  right: 0px;
  top:0;
}
.wrapper-principal {
  background: linear-gradient(90deg, $pink, $orange, $yellow);
  margin-top: 100px;
  min-height: 65vh;
}

