.logo {
	width: 15%;
	margin-top: 120px;
}
.icon-proyec{
	max-width: 8%;
	background-color: #f3c602;
	border-radius: 50%;
	padding: 8px;
}
.icon-proyec:hover {
	background: #6d9869;
}
.img-project{
max-width: 100%;
height: 100%;
}
.icon-footer {
	width: 3%;
}