.aboutme__paragraph {
  color: #6d9869;
}

.aboutme__title {
  color: #3e1e0e;
  text-align: center;
  font-size: 53px;
  margin: 0;
}

 .aboutme__title--size{
  font-size: 26px;
}

.tittle-container {
  font-size: 35px;
}


.tittle-skill {
  color: #3e1e0e;
  padding-top: 100px;
  margin-bottom: 0;
  font-size: 32px;
}