.tittle-hello {
  color: $yellow;
  text-align: center;
  font-size: 53px;
  margin: 0;
}
.info-aboutme {
  text-align: center;
  font-size: 26px;
}
.content-aboutme {
  color: $yellow;
}
.tittle-container {
  font-size: 35px;
}
.tittle-skill {
  padding-top: 100px;
  margin-bottom: 0;
  font-size: 32px;
}